body {
  background-color: #184cb3;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  display: inline;
}